<%- include('./../template/head.ejs') %>
<div class="container">
    <div class="row justify-content-center login-margin">
        <div class="col-md-6">
            <h3 style="text-align: center;">Register</h3>
            <% if (status == 400) { %>
            <div class="alert alert-danger" role="alert"><%= message %></div>
            <% } %>
            <form action="/api/v1/register" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

<%- include('./../template/footer.ejs') %>